:root {
    --hoverColor: black;
    --gridOutlineSize: 1px;
}

* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#container {
    display: flex;
    flex-wrap: wrap;
    height: 960px;
    width: 960px;
    justify-content: center;
    border: 1px solid black;
    margin: 5px;
}

#container div {
   flex:1 1 6.25%;
   outline: var(--gridOutlineSize) solid #7c7b7b11;
   outline-offset: -.4px;
   margin: -.4px;
}

#buttonHolder, #colorHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

button {
    margin: 10px;
    cursor: pointer;
}

#buttonHolder button {
    border: 0px solid #000000;
    border-radius: 3px;
    padding: 10px;
    background-color: #dddddd;
}

#buttonHolder button:hover {
    outline: 2px solid #000000;
    outline-offset: -2px;
}

.colors {
    border: 2px solid #000000;
}

.colors:hover {
  opacity: 25%;
}

input {
    width: 50px;
    margin: 10px;
    border-radius: 3px;
    padding: 10px;
    border-color: #dddddd;
}

input:hover {
    outline: 2px solid #000000;
    outline-offset: -3px;
}

@media screen and (max-width: 1000px)
{
    body {
        flex-direction: column;
    }

    #buttonHolder, #colorHolder {

        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #container {
        width: 99vw;
        height: 99vw;
        
    }
}

@media screen and (max-width: 400px)
{
    input {
        flex-basis: 60%;
        margin: 10px 50px;
    }
}